body {
  background-color: rgb(76, 151, 55);
}
h1 {
  text-align: center;
}
div {
  height: 150px;
  width: 65%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
.Dealer img {
  width: 100px;
}
.Player img {
  width: 100px;
}
.playerScore {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.dealerScore {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.winner {
  height: 75px;
  width: 100px;
  border: 1px solid black;
}
